<div class="container flex-column margin">
  <p-toolbar class="custom-toolbar ">


    <div class="p-toolbar-group-left text-lg p-1 font-bold pl-7">
      Resources
    </div>
    <div class="p-toolbar-group-center">
      <p-iconfield iconPosition="left">
        <input class="search-input" type="text" pInputText placeholder="Search" [(ngModel)]="searchQuery" />
      </p-iconfield>
    </div>
    <div class="p-toolbar-group-right">
      <p-button (click)="openModal()"   class="blue-outlined-button mr-5">Add +</p-button>
      <p-button icon="pi pi-print" text severity="secondary"></p-button>
      <p-button icon="pi pi-upload" class="ml-3"  text severity="secondary"></p-button>
    </div>
</p-toolbar>

  <!-- Table -->
  <div class="table-responsive w-full">
    <table class="table table-bordered">
      <thead class="fixedtableheader">
        <tr>
          <th>Employee ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Type</th>
          <th>Department</th>
          <th>Module</th>
          <th>Hire Date</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let resource of resources">
          <td>{{ resource.id }}</td>
          <td>{{ resource.name }}</td>
          <td>{{ resource.email }}</td>
          <td>{{ resource.type }}</td>
          <td>{{ resource.department }}</td>
          <td>{{ resource.module }}</td>
          <td>{{ resource.hire_date }}</td>
          <td class="cursor-pointer"
            [ngClass]="{'text-green-600': resource.status === 'Active', 'text-red-600': resource.status === 'In-Active'}"
            (click)="toggleStatus(resource)">
            {{ resource.status }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="showModal" class="modal-overlay">
  <p-card class="modal-content" styleClass="p-card-shadow">
    <div class="p-col-12 d-flex justify-content-between align-items-center bgclr">
      <div class="font-bold text-blue text-lg">Add Resource</div>
      <div class="d-flex">
        <p-button (click)="saveResource()" class="btn btn-outline-success border-success text-success mx-2">Save</p-button>
        <p-button (click)="closeModal()" class="btn btn-outline-danger border-danger text-danger">X</p-button>
      </div>
    </div>

    <div class="modal-buttons d-flex justify-content-between"></div>
  
    <form [formGroup]="resourceForm">
      <div class="p-field p-grid flex p-col-12">
        <label class="p-col-2 p-md-2">Name:</label>
        <p-floatlabel class="pr-2">
          <input pInputText id="first_name" formControlName="name" class="form-control" autocomplete="off" />
          <label for="first_name"><small class="pl-2">First Name</small></label>
        </p-floatlabel>
        <p-floatlabel>
          <input pInputText id="last_name" formControlName="name" class="form-control" autocomplete="off" />
          <label for="last_name"><small class="pl-2">Last Name</small></label>
        </p-floatlabel>
      </div>
      <div class="p-field p-grid p-col-12 flex">
        <label class="p-col-2 p-md-2">Email:</label>
        <div class="p-col-10 p-md-10">
          <input pInputText formControlName="email" type="email" class="form-control" />
        </div>
      </div>
      <div class="p-field p-grid p-col-12 flex">
        <label class="p-col-2 p-md-2">Type:</label>
        <div>
          <select pInputText formControlName="type" class="form-control">
            <option value="Full-time">Full-time</option>
            <option value="Part-time">Part-time</option>
          </select>
        </div>
      </div>
      <div class="p-field p-grid flex p-col-12">
        <label class="p-col-2 p-md-2">Dept:</label>
        <div class="p-col-10 p-md-10">
          <input pInputText formControlName="department" type="text" class="form-control" />
        </div>
      </div>
      <div class="p-field p-grid flex p-col-12">
        <label class="p-col-2 p-md-2">Module:</label>
        <div class="p-col-10 p-md-10">
          <input pInputText formControlName="module" type="text" class="form-control" />
        </div>
      </div>
      <div class="p-field p-grid flex p-col-12">
        <label class="p-col-2 p-md-2">DOJ:</label>
        <div class="p-col-10 p-md-10">
          <input pInputText formControlName="hire_date" type="date" class="form-control" />
        </div>
      </div>
      <div class="p-field p-grid flex p-col-12">
        <label class="p-col-2 p-md-2">Status:</label>
        <div>
          <select pInputText formControlName="status" class="form-control">
            <option value="Active">Active</option>
            <option value="In-Active">In-Active</option>
          </select>
        </div>
      </div>
    </form>
  </p-card>  
</div>