<p-card>
  <div class="p-fluid">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="p-field">
        <label for="loginID">Login ID</label>
        <input id="loginID" type="text" pInputText formControlName="loginID" />
        <div *ngIf="loginForm.get('loginID')?.invalid && loginForm.get('loginID')?.touched" class="p-error">
          <small *ngIf="loginForm.get('loginID')?.hasError('required')">Login ID is required.</small>
          <small *ngIf="loginForm.get('loginID')?.hasError('minlength')">Login ID must be at least 4 characters long.</small>
        </div>
      </div>
      <div class="p-field">
        <label for="password">Password</label>
        <input id="password" type="password" pInputText formControlName="password" />
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="p-error">
          <small *ngIf="loginForm.get('password')?.hasError('required')">Password is required.</small>
          <small *ngIf="loginForm.get('password')?.hasError('minlength')">Password must be at least 6 characters long.</small>
        </div>
      </div>
      <button pButton type="submit" label="Login" [disabled]="loginForm.invalid"></button>
    </form>
  </div>
</p-card>
