/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-alpine.css";



.container {
    display: flex;
    height: 100vh;
    justify-content: start;
  }
  .sidebar {
    background-color: #f5f7fa; /* Dark background */
    color: black;
    height: 100vh; /* Full height */
    position: fixed; /* Keeps it on the left */
    top: 0;
    left: 0;
    overflow-y: auto; /* Allows scrolling if content overflows */
    width: 280px;
    border-right: 1px solid lightgray;

    /* padding: 10px; */
  
  }
.blue-outlined-button {
    border: 1px solid #007bff !important; /* Blue border color */
    background: transparent !important; /* Transparent background */
    color: #007bff !important; /* Blue text color */
    border-radius: 4px; /* Optional: rounded corners */
    padding: 5px 15px 10px 10px; /* Optional: padding */
    font-size: 14px; /* Optional: font size */
    text-align: right;

  }
  .blue-outlined-button:hover {
    background: lightgray !important; /* Light blue background on hover */}
.content {  
width: calc(100% - 280px);
margin-left: 150px;
margin-top: 20px;
  padding: 20px;
  background-color:white;
  flex-grow: 1;
}
.toolbar {
    width: calc(100% - 280px);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;  
    height: 40px;
}
:host ::ng-deep .btn {
    transition: color 0.3s ease;
  }
  
  :host ::ng-deep .btn:hover {
    color:lightgray; /* Adjust the hover color if needed */
  }
  .pi {
    font-size: .8rem; /* Adjust size */
  }
  .fixedtableheader {
    position: sticky;
    top: 0;    
    z-index: 999; 
    background-color: white;
  }
  .text-blue-600 {
    color: blue;
  }
.text-green-600 {
  color: green !important;
}

.text-red-600 {
  color: red !important; 
}
.text-yellow-600 {
  color: rgb(195, 195, 3) !important;
} 