:host ::ng-deep p-toolbar.custom-toolbar .p-toolbar {
  border-bottom: 1px solid lightgray !important;
  border-top: 1px solid lightgray !important;
  background-color: #f9f9fa !important;
  padding: 8px;
  }
  .blue-outlined-button {
    border: 1px solid #007bff !important; /* Blue border color */
    background: transparent !important; /* Transparent background */
    color: #007bff !important; /* Blue text color */
    border-radius: 4px; /* Optional: rounded corners */
    padding: 5px 15px 10px 10px; /* Optional: padding */
    font-size: 14px; /* Optional: font size */
    text-align: right;
  }
  .blue-outlined-button:hover {
    background: rgba(0, 123, 255, 0.1) !important; /* Light blue background on hover */}

    
/* Modal Content */
.modal-content {
  width: 500px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  height: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #e0e0e0;
  z-index: 1001;
  position: relative;
}

.p-card-shadow {
  background-color: #f8f9fa;
}
.table th,
.table td {
  padding: 8px; /* Reduced padding */
  font-size: 13px; /* Reduced font size */
  height: 10px; /* Reduced column height */
  white-space: nowrap; /* Prevent breaking text */
}
.table th{
  background-color: #f9f9fa !important; 
  font-size: 15px;
}
